@font-face {
  font-family: 'CenturyGothic';
  src: url('../font/CenturyGothic.eot?#iefix') format('embedded-opentype'),
       url('../font/CenturyGothic.woff') format('woff'),
       url('../font/CenturyGothic.ttf')  format('truetype'),
       url('../font/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'icon';
	src:url('../font/icomoon.eot?7bdlzk');
	src:url('../font/icomoon.eot?7bdlzk#iefix') format('embedded-opentype'),
		url('../font/icomoon.ttf?7bdlzk') format('truetype'),
		url('../font/icomoon.woff?7bdlzk') format('woff'),
		url('../font/icomoon.svg?7bdlzk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*variables*/

@primary-color: #c8c6c8;
@secondary-color: #4a484c;
@tertiary-color: #010001;
@invert-color: #fff;

@taekwondo-color: #53a7b2;
@jiujitsu-color: #f98654;
@muaythai-color: #aed24e;
@taefit-color: #a27db1;
@yoga-color: #a8777b;
@pilates-color: #03acec;

@kids-color: #4da9b4;
@feminina-color: #ec2393;
@aulas-color: #a05849;

@img: "../images/";

@championship-icon: "\e900";
@events-icon: "\e901";
@news-icon: "\e904";
@podium-icon: "\e905";

/*.icon-facebook:before {
	content: "\e902";
}
.icon-home:before {
	content: "\e903";
}*/

.icon-twitter:before {
	content: "\e906";
}

/*-------mixins------*/
.font-icon() {
  font-family: 'icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.border-radius( @a: 5px ) {
  -webkit-border-radius: @a;
  -moz-border-radius: @a;
  border-radius: @a;
}
.transition( @a: all .1s ease ) {
  -webkit-transition: @a;
  transition: @a;
}
/*-------mixins------*/
* {
  box-sizing: border-box;
}

body {
  border-top: 5px solid @primary-color;
  color: @secondary-color;
  font: 15px 'CenturyGothic', sans-serif;
  margin: 0 auto;
  //max-width: 1800px;
  max-width: 1260px;
  &:before {
    background: @tertiary-color;
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 200px;
  }
}
img {
  display: inline-block;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  .transition();
  text-decoration: none;
}
nav {
  display: inline-block;
}
h2 {
  font-weight: normal;
  margin: 0 0 20px;
}
h1 {
  font-weight: normal;
}
.container {
  margin: 0 auto;
  width: 97%;
}
.stripped-table {
  font: 14px Arial, sans-serif;
  th {
    background: @tertiary-color;
    color:  @invert-color;
    font-weight: normal;
    padding: 10px 0;
    text-align: left;
    text-indent: 10px;
    text-transform: uppercase;
  }
  td {
    background: lighten(@primary-color, 10);
    text-align: center;
  }
  tr:nth-child(odd) td {
    background: @primary-color;
  }
}
.pagination {
  background: @primary-color;
  padding: 5px;
  text-align: center;
  a {
    color: @secondary-color;
    display: block;
    padding: 5px 10px;
    &:hover {
      background: @tertiary-color;
      color: @invert-color;
    }
  }
  h3 {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
    text-transform: uppercase;
  }
  ul {
    display: inline-block;
  }
}
/*-------header------*/
header {
  margin: 20px 0;
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
  }
  nav {
    margin: 0 6%;
    width: 60%;
    ul {
      display: flex;
      padding-left: 30px;
      position: relative;
      a {
        display: block;
      }
      li:not(:first-child) {
        flex: 1;
        position: relative;
        text-align: center;
        a {
          border-bottom: 5px solid @tertiary-color;
          color: @tertiary-color;
          padding: 10px 0;
          text-transform: uppercase;
          &:hover {
            background: @tertiary-color;
            color: @invert-color;
          }
        }
      }
      li:nth-child(3) a {
        border-color: @secondary-color;
      }
      li:nth-child(4) a {
        border-color: darken(@primary-color, 20%);
      }
      li:nth-child(5) a {
        border-color: darken(@primary-color, 10%);
      }
      li:nth-child(6) a {
        border-color: @primary-color;
      }
      >:first-child {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 13px;
        width: 23px;
        a {
          background: url( "@{img}sprite.png") -3px -2px;
          text-indent: -500px;
        }
      }
    }
  }
  .social {
    display: inline-block;
    width: 11%;
    a {
      height: 27px;
      width: 20px;
    }
    .facebook a {
      background-position: -6px -3px;
    }
    .twitter a {
      background-position: -44px -3px;
    }
    .vine a {
      background-position: -80px -3px;
    }
    .youtube a {
      background-position: -114px -3px;
    }
  }
}

.social {
  a {
    background: url("@{img}social-sprite.png");
    display: block;
    height: 29px;
    margin: 0 5px;
    overflow: hidden;
    text-indent: -500px;
    width: 29px;
  }
  .facebook a {
    background-position: 2px -30px;
  }
  .twitter a {
    background-position: -44px -31px;
  }
  .vine a {
    background-position: -89px -31px;
  }
  .youtube a {
    background-position: -134px -30px;
  }
}

/*-------footer------*/
footer {
  margin-top: 40px;
  a {
    color: @invert-color;
    text-transform: uppercase;
    &:hover {
      color: darken(@invert-color, 20);
    }
  }
  >div {
    padding: 20px 40px;
  }
  .logo {
    display: inline-block;
    width: 13%;
  }
  nav {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 11%;
    width: 75%;
    >ul {
      display: flex;
      >li {
        flex: 1;
        vertical-align: top;
        li {
          display: block;
          margin: 9px 0;
          position: relative;
          text-indent: 13px;
          &:before {
            .border-radius(50%);
            background: @invert-color;
            content: "";
            height: 6px;
            left: 0;
            margin-top: -3px;
            position: absolute;
            top: 50%;
            width: 6px;
          }
        }
      }
    }
  }

  .social {
    margin-top: 20px;
  }
}
.main-footer {
  background: @secondary-color;
  border: 1px solid @tertiary-color;
}
.secondary-footer {
  background: @primary-color;
  color: lighten(@secondary-color, 20%);
  margin-top: 10px;
  text-align: center;
  address {
    font-style: normal;
  }
  span {
    display: block;
  }
}
/*-------footer------*/


/*------home--------*/
.banner-menu {
  margin: 40px 0;
  position: relative;
  text-align: center;
  .content {
    &:before {
      background: rbga(100,100,100, .5);
      bottom: 0;
      content: "";
      height: 15%;
      left: 0;
      position: absolute;
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,1+100 */
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    }
  }
  >ul {
    display: flex;
    height: 100%;
    margin-left: 0.1%;
    position: absolute;
    top: 0;
    width: 100%;
    li {
      bottom: -88%;
      flex: 1;
      //margin-right: -.2%;
      pointer-events: none;
      position: relative;
      &:before {
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        top: -88%;
        width: 100%;
      }
      a {
        color: @invert-color;
        display: block;
        font-size: 26px;
        margin: 0 2px;
        padding: 10px;
        pointer-events: auto;
        text-transform: uppercase;
      }
      &:first-child a {
        margin-left: 0;
      }
    }
    .taekwon-do {
      &:before {
        background: @taekwondo-color;
      }
      a {
        background: @taekwondo-color;
        &:hover {
          background: lighten(@taekwondo-color, 10%);
        }
      }
    }
    .jiu-jitsu {
      &:before {
        background: @jiujitsu-color;
      }
      a {
        background: @jiujitsu-color;
        &:hover {
          background: lighten(@jiujitsu-color, 10%);
        }
      }
    }
    .muay-thai {
      &:before {
        background: @muaythai-color;
      }
      a {
        background: @muaythai-color;
        &:hover {
          background: lighten(@muaythai-color, 10%);
        }
      }
    }
    .taefit {
      &:before {
        background: @taefit-color;
      }
      a {
        background: @taefit-color;
        &:hover {
          background: lighten(@taefit-color, 10%);
        }
      }
    }
    .yoga {
      &:before {
        background: @yoga-color;
      }
      a {
        background: @yoga-color;
        &:hover {
          background: lighten(@yoga-color, 10%);
        }
      }
    }
    .pilates {
      &:before {
        background: @pilates-color;
      }
      a {
        background: @pilates-color;
        &:hover {
          background: lighten(@pilates-color, 10%);
        }
      }
    }
  }
}
aside {
  display: inline-block;
  width: 25%;
}
.articles {
  display: inline-block;
  width: 74%;
  vertical-align: top;
  ul {
    display: flex;
    width: 100%;
    li {
      flex: 1;
      margin-left: 20px;
      h2 {
        text-transform: uppercase;
      }
      span {
        color: @secondary-color;
        display: block;
        font-size: 17px;
        line-height: 1.5;
        position: relative;
        &::before {
          content: "";
          display: block;
          height: 10px;
          margin: -4px 0 20px;
          pointer-events: none;
          width: 100%;
        }
        &::after {
          content: "+";
          font-size: 45px;
          position: absolute;
          right: 0;
          top: 15px;
        }
      }
      &.kids {
        h2 {
          color: @kids-color;
        }
        span {
          &:before {
            background: @kids-color;
          }
          &::after {
            color: @kids-color;
          }
        }
      }
      &.feminina {
        h2 {
          color: @feminina-color;
        }
        span {
          &:before {
            background: @feminina-color;
          }
          &::after {
            color: @feminina-color;
          }
        }
      }
      &.grades-de-aula {
        h2 {
          color: @aulas-color;
        }
        span {
          &:before {
            background: @aulas-color;
          }
          &::after {
            color: @aulas-color;
          }
        }
      }
    }
  }
}
/*-----PODIUM------*/
.podium {
  li {
    background: lighten(@primary-color, 15);
    margin: 30px 1%;
    padding: 20px;
    text-transform: uppercase;
    width: 47%;
    &.podium-item {
      h2 i::before {
        content: @podium-icon;
      }
    }
    &.news-item {
      h2 i {
          top: 5px;
          &::before {
            content: @news-icon;
            font-size: 20px;
          }
      }
    }
    &.events-item {
      h2 i::before {
        content: @events-icon;
      }
    }
    a {
      color: @secondary-color;
      &:hover p {
        text-decoration: underline;
      }
    }
    h2 {
      background: @primary-color;
      font-size: 18px;
      margin: -50px auto 20px;
      padding: 5px 5px 5px 30px;
      position: relative;
      text-align: center;
      width: 50%;
      &:before,
      &:after {
        border: 37px solid transparent;
        border-bottom: 32px solid @primary-color;
        color: @primary-color;
        content: "";
        height: 0;
        position: absolute;
        top: -37px;
        width: 0;
      }
      &:before {
        left: -37px;
      }
      &:after {
        right: -37px;
      }
      i {
        position: absolute;
        top: 0;
        margin-left: -30px;
        &::before {
          .font-icon();
          font-size: 30px;
        }
      }
    }
    .img-wrapper {
      display: inline-block;
      width: 50%;
    }
    .content {
      float: right;
      width: 45%;
      time {
        border-bottom: 1px solid @primary-color;
        color: @primary-color;
        display: block;
        font-size: 14px;
        text-align: right;
        >:first-child {
          float: left;
        }
      }
      p {
        font-size: 18px;
        font-weight: bold;
      }
      .btn {
        display: block;
        background: @tertiary-color;
        color: @invert-color;
        padding: 5px;
        text-align: center;
        &:hover {
          background: @secondary-color;
        }
      }
    }
  }
}

/*-------GRADE DE AULAS--------*/
.classes {
  position: relative;
  img {
    border: 5px solid @secondary-color;
  }
  ul {
    bottom: 5%;
    color: @invert-color;
    padding: 0 10%;
    position: absolute;
    width: 100%;
    li {
      background: url( "@{img}sprite-grade-de-aula.png") no-repeat rgba( 0, 0, 0, .8 );
      cursor: pointer;
      border-top: 10px solid;
      margin: 15px 3%;
      padding: 20px;
      width: 27%;
      &:hover {
        background-color: rgba( 0, 0, 0, .9 );
      }
      h2 {
        font-weight: normal;
        margin: 30px 0;
      }
      &.taekwon-do {
        border-color: @taekwondo-color;
        background-position: 100% 0;
      }
      &.jiu-jitsu {
        border-color: @jiujitsu-color;
        background-position: 100% 17.3%;
      }
      &.muay-thai {
        border-color: @muaythai-color;
        background-position: 100% 35%;
      }
      &.taefit {
        border-color: @taefit-color;
        background-position: 100% 57%;
      }
      &.yoga {
        border-color: @yoga-color;
        background-position: 100% 78.2%;
      }
      &.pilates {
        border-color: @pilates-color;
        background-position: 100% 95%;
      }
    }
  }
}
.modal {
  background: rgba( 0, 0, 0, .8 );
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  .close {
    background: none;
    border: none;
    float: right;
    font-size: 21px;
    line-height: .5;
    outline: none;
    &:hover {
      color: @primary-color;
    }
  }
  .content {
    .transition( all .5s ease );
    background: @invert-color;
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    table {
      width: 100%;
    }
  }
  &.in .content {
    margin: 10% auto;
  }
  &.taekwon-do .content {
    border-top: 10px solid @taekwondo-color;
  }
  &.jiu-jitsu .content {
    border-top: 10px solid @jiujitsu-color;
  }
  &.muay-thai .content {
    border-top: 10px solid @muaythai-color;
  }
  &.taefit .content {
    border-top: 10px solid @taefit-color;
  }
  &.yoga .content {
    border-top: 10px solid @yoga-color;
  }
  &.pilates .content {
    border-top: 10px solid @pilates-color;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
/*------CONTATO----------*/
.contact {
  position: relative;
  .form-box {
    background: @secondary-color;
    color: @invert-color;
    padding: 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30%;
    h2,
    legend {
      font-size: 18px;
      text-transform: uppercase;
    }
    .social {
      margin-bottom: 30px;
    }
    address {
      margin-bottom: 30px;
      span {
        display: block;
        font-size: 12px;
        font-style: normal;
        em {
          display: inline-block;
          font-style: normal;
          padding-right: 10px;
          margin: 5px 0;
          width: 100px;
          &:after {
            content: ":";
            float: right;
          }
        }
      }
    }
    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
    label {
      display: block;
      margin: 10px 0;
      position: relative;
      span {
        left: 10px;
        position: absolute;
        top: 10px;
      }
    }
    input,
    textarea {
      background: #5e6168;
      border: none;
      width: 100%;
    }
    input {
      height: 40px;
    }
    textarea {
      height: 90px;
    }
    button {
      background: @invert-color;
      border: none;
      color: #656870;
      float: right;
      font-size: 18px;
      padding: 10px 20px;
      text-transform: uppercase;
      &:hover {
        background: darken(@invert-color, 10);
      }
    }
  }
}
.alert{
  border:1px solid #f00!important;
}


#shadow{
  background:#000;
  display:none;
  position:fixed;
  left:0px;
  height:100%;
  opacity:0.8;
  top:0px;
  width:100%;
  z-index:1000;
}

#shadow .text_line01{
  position:absolute;
  left:50%;
  margin-left:-230px;
  height:205px;
  overflow:hidden;
}

#shadow .text_line02{
  color:#fff;
  font-size:20px;
  position:absolute;
  left:50%;
  margin-left:-35px;
  top:210px;
  font-family:verdana;
}

#send,
#notsend,
#alert_box{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #ccc;
  background:#fff;
  color:#000;
  display:none;
  font-family:Arial;
  font-size:20px;
  left:50%;
  margin-left:-251px;
  padding:20px 10px;
  position:fixed;
  text-align:center;
  text-transform:uppercase;
  top:200px;
  width:500px;
  z-index:1001;
}

/*-----MODALIDADES-------*/
.main.modalities {
  .banner-menu {
    >ul {
      height: auto;
      li:before {
        display: none;
      }
    }
    .info {
      color: @invert-color;
      left: 2.5%;
      padding: 60px;
      position: absolute;
      text-align: left;
      top: 0;
      width: 95%;
      h1 {
        font-size: 60px;
        margin: 0;
        text-shadow: -2px 4px 2px rgba(2, 4, 0, .75);
        text-transform: uppercase;
      }
      button {
        border: none;
        color: @invert-color;
        cursor: pointer;
        font-size: 20px;
        right: 60px;
        padding: 10px;
        position: absolute;
        text-transform: uppercase;
        top: 70px;
      }
      .box {
        background: rgba(0, 0, 0, .8);
        padding: 30px;
        .column {
          display: inline-block;
          padding: 0 30px;
          vertical-align: top;
          width: 49%;
        }
        h2 {
          font-size: 24px;
          text-transform: uppercase;
        }
        .benefits {
          background: #cccccd;
          color: @secondary-color;
          font-size: 16px;
          padding: 10px 20px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .calories-spent {
        color: @invert-color;
        ul,
        span {
          background: url("@{img}sprite.png") no-repeat;
          display: inline-block;
          font-size: 26px;
          height: 80px;
          margin-bottom: 20px;
          padding: 10px 20px 10px 70px;
          position: relative;
          text-align: center;
          width: 45%;
          li {
            display: none;
          }
          .active {
            display: block;
            margin-left: 20px;
            pointer-events: none;
            position: absolute;
            top: 10px;
          }
          em {
            display: block;
            font-style: normal;
            text-align: center;
          }
        }
        .time {
          background-position: 0 -44px;
          li {
            cursor: pointer;
          }
        }
        .calories {
          background-position: 0 -163px;
          float: right;
          margin-left: 20px;
          position: relative;
          &:before {
            content: "=";
            font-size: 24px;
            left: -15%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .gallery {
    margin-bottom: 50px;
    padding-left: 110px;
    position: relative;
    h2 {
      background: url("@{img}galeria.png") no-repeat 79% center;
      color: @invert-color;
      left: -80px;
      font-size: 18px;
      height: 70px;
      padding: 12px 40px;
      position: absolute;
      transform: rotate(-90deg);
      top: 82px;
      width: 232px;
      &:before {
        bottom: 10px;
        border: 20px solid transparent;
        border-bottom: 20px solid;
        content: "";
        right: -20px;
        position: absolute;
      }
      strong {
        display: block;
      }
    }
    .content {
      background: #d8d8d8;
    }
    &.video {
      h2 {
        left: -140px;
        top: 143px;
        width: 355px;
      }
      .content {
        padding: 10px 50px;
        &:before,
        &:after {
          content: "";
          clear: both;
          display: table;
        }
        li {
          float: left;
          margin: 10px 8px;
        }
      }
    }
  }
}
.gallery.photo {
  .content {
    padding: 10px 90px;
  }
  .owl-carousel {
    .owl-item {
      text-align: center;
    }
    .owl-pagination {
      display: none;
    }
    .owl-controls {
      height: 40px;
      left: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      width: 100%;
      .owl-prev {
        background: none;
        left: 30px;
        position: absolute;
        &:before {
          border: 10px solid transparent;
          border-right: 10px solid #d8d8d8;
          content: "";
          float: left;
          height: 0;
          left: 0;
          position: absolute;
          width: 0;
          z-index: 1;
        }
        &:after {
          border: 14px solid transparent;
          border-right: 14px solid #fff;
          content: "";
          float: left;
          height: 0;
          left: -6px;
          position: absolute;
          top: -1px;
          width: 0;
        }
      }
      .owl-next {
        background: none;
        right: 30px;
        position: absolute;
        &:before {
          border: 10px solid transparent;
          border-left: 10px solid #d8d8d8;
          content: "";
          float: left;
          height: 0;
          left: 0;
          position: absolute;
          width: 0;
          z-index: 1;
        }
        &:after {
          border: 14px solid transparent;
          border-left: 14px solid #fff;
          content: "";
          float: left;
          height: 0;
          right: -6px;
          position: absolute;
          top: -1px;
          width: 0;
        }
      }
    }
  }
}
#owl-demo .item {
  cursor: pointer;
  margin: 3px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.our-team {
  >h2 {
    background: #a4aeb9;
    border-bottom: 10px solid #e4e4e4;
    font-size: 18px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
  ul {
    li {
      background: #464646;
      margin: 0 0 0 4.6%;
      width: 30%;
      img {
        vertical-align: top;
      }
      .content {
        color: @invert-color;
        display: inline-block;
        float: right;
        padding: 5px;
        width: 50%;
      }
    }
    >:first-child {
      margin-left: 0;
    }
  }
}
.jiu-jitsu.main.modalities {
  .banner-menu .info {
    h1 {
      color: @jiujitsu-color;
    }
    button {
      background: @jiujitsu-color;
      &:hover {
        background: lighten(@jiujitsu-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @jiujitsu-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after {
    border-right-color: @jiujitsu-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @jiujitsu-color;
  }
  .gallery h2 {
    background-color: @jiujitsu-color;
    &:before {
      border-bottom-color: @jiujitsu-color;
    }
  }
}
.taekwon-do.main.modalities {
  .banner-menu .info {
    h1 {
      color: @taekwondo-color;
    }
    button {
      background: @taekwondo-color;
      &:hover {
        background: lighten(@taekwondo-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @taekwondo-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after {
    border-right-color: @taekwondo-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @taekwondo-color;
  }
  .gallery h2 {
    background-color: @taekwondo-color;
    &:before {
      border-bottom-color: @taekwondo-color;
    }
  }
}
.muay-thai.main.modalities {
  .banner-menu .info {
    h1 {
      color: @muaythai-color;
    }
    button {
      background: @muaythai-color;
      &:hover {
        background: lighten(@muaythai-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @muaythai-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after {
    border-right-color: @muaythai-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @muaythai-color;
  }
  .gallery h2 {
    background-color: @muaythai-color;
    &:before {
      border-bottom-color: @muaythai-color;
    }
  }
}
.taefit.main.modalities {
  .banner-menu .info {
    h1 {
      color: @taefit-color;
    }
    button {
      background: @taefit-color;
      &:hover {
        background: lighten(@taefit-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @taefit-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after{
    border-right-color: @taefit-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @taefit-color;
  }
  .gallery h2 {
    background-color: @taefit-color;
    &:before {
      border-bottom-color: @taefit-color;
    }
  }
}
.yoga.main.modalities {
  .banner-menu .info {
    h1 {
      color: @yoga-color;
    }
    button {
      background: @yoga-color;
      &:hover {
        background: lighten(@yoga-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @yoga-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after{
    border-right-color: @yoga-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @yoga-color;
  }
  .gallery h2 {
    background-color: @yoga-color;
    &:before {
      border-bottom-color: @yoga-color;
    }
  }
}
.pilates.main.modalities {
  .banner-menu .info {
    h1 {
      color: @pilates-color;
    }
    button {
      background: @pilates-color;
      &:hover {
        background: lighten(@pilates-color, 5);
      }
    }
    .calories-spent ul,
    .calories-spent span {
      background-color: @pilates-color;
    }
  }
  .gallery.photo .owl-carousel .owl-controls .owl-prev:after{
    border-right-color: @pilates-color;
  }
  .gallery.photo .owl-carousel .owl-controls .owl-next:after {
    border-left-color: @pilates-color;
  }
  .gallery h2 {
    background-color: @pilates-color;
    &:before {
      border-bottom-color: @pilates-color;
    }
  }
}
/*CLASSE A*/
.classea {
  min-height: 700px;
  padding: 10px 0;
  position: relative;
  >img {
    position: absolute;
    z-index: -1;
  }
  h1 {
    background: rgba( 0, 0, 0, .7 );
    color: @invert-color;
    padding: 40px 20px;
    text-transform: uppercase;
  }
  .tabs {
    position: relative;
  }
  li {
    display: block;
  }
  button {
    .border-radius ( 3px );
    background: rgba( 0, 0, 0, .7 );
    border: 3px solid transparent;
    color: @invert-color;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    outline: none;
    padding: 20px 10px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 20%;
  }
  section {
    .border-radius ( 3px );
    background: rgba( 0, 0, 0, .7 );
    color: @invert-color;
    display: none;
    margin-left: 23%;
    min-height: 520px;
    padding: 20px;
    vertical-align: top;
    width: 77%;
  }
  [data-id="nossa-academia"] button {
    top: 0;
  }
  [data-id="qualidade-classe-a"] button {
    top: 80px;
  }
  [data-id="free-pass"] button {
    top: 160px;
  }
  .active {
    button {
      border-color: @pilates-color;
    }
    section {
      border: 3px solid @pilates-color;
      display: block;
    }
  }
}
/*NOTICIAS*/
.news {
  border-top: 5px solid lighten(@secondary-color, 10);
  h1 {
    background: @primary-color;
    font-size: 18px;
    height: 40px;
    margin: -45px auto 20px;
    padding: 5px 5px 5px 30px;
    position: relative;
    text-align: center;
    width: 50%;
    &:before,
    &:after {
      border: 40px solid transparent;
      border-bottom: 40px solid @primary-color;
      color: @primary-color;
      content: "";
      height: 0;
      position: absolute;
      top: -40px;
      width: 0;
    }
    &:before {
      left: -40px;
    }
    &:after {
      right: -40px;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      &::before {
        .font-icon();
        content: "\e905";
        font-size: 30px;
      }
    }
  }
  article {
    background: lighten(@primary-color, 15);
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    time {
      border-bottom: 1px solid @primary-color;
      color: darken(@primary-color, 15);
      display: block;
      margin-bottom: 20px;
      span {
        float: right;
      }
    }
    h2 {
      text-transform: uppercase;
    }
    img {
      display: block;
      margin: 30px auto;
    }
  }
}

/*BARRA DE COMPARTILHAMENTO SOCIAL*/
.social-bar {
  text-align: center;
  h3 {
    text-transform: uppercase;
  }
}
/*
  CATEGORIAS ESPECIAIS
    KIDS E FEMININA
*/
.special-category {
  padding: 10px;
  position: relative;
  >img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  h1 {
    color: @invert-color;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  section {
    background: rgba( 0, 0, 0, .7 );
    color: @invert-color;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 49%;
    &:first-of-type {
      margin-right: 1%;
    }
    h2 {
      padding: 5px;
      text-align: center;
      strong {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    .description {
      display: block;
      padding: 10px;
    }
  }
}
body.kids {
  border-top-color: @kids-color;
  &:before {
    display: none;
  }
  .main-footer {
    background: @kids-color;
  }
  h1 {
    background: @kids-color;
  }
  section {
    h2,
    .description {
      background: @kids-color;
    }
  }
}
body.feminina {
  border-top-color: @feminina-color;
  &:before {
    display: none;
  }
  .main-footer {
    background: @feminina-color;
  }
  h1 {
    background: @feminina-color;
  }
  section {
    h2,
    .description {
      background: @feminina-color;
    }
  }
}
